body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: antiquewhite;
  padding: 2rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.movies-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.movie-card {
  max-width: 400px;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.movie-card p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.movie-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.movie-text {
  max-width: 400px;
}

.search-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 1rem; */
  text-align: center;
}

.pagination-container {
  padding: 2rem;
}

.search-container .movie-container {
  max-width: 200px;
  min-height: 400px;
  border: 1px solid red;
}

.search-container img {
  width: 200px;
  /* height: 400px; */
}

form,
.movies-filters {
  padding: 2rem 0;
}

.movies-filters .active {
  border: 2px solid red;
}

.home-buttons {
  display: inline;
}
